.app-navbar {
  display: flex;
  flex-wrap: wrap;
  padding: 8px 16px 10px 16px;

  > .mat-button {
    &:last-child {
      margin-left: auto;
    }
  }

  .navbar-button {
    font-size: 14px;
    font-weight: 300;
    padding-top: 2px;
  }

  .navbar-title {
    font-size: 20px;
    font-weight: 200;
    margin-left: 5px;
  }
}
