@mixin home-theme($theme) {
  $backgroundSub: map-get($theme, backgroundSub);

  .mat-tab-labels {
    background: $backgroundSub;
  }

  .mat-tab-nav-bar, .mat-tab-header {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  }
}

