@mixin footer-theme($theme) {
  $primary: map-get($theme, primary);
  $link-color: #0F2D3C;

  .app-footer {
    background: mat-color($primary);
    color: mat-color($primary, default-contrast);

    a {
      color: $link-color;
      &:visited { color: $link-color; }
    }
  }

}

