.app-footer {
  padding-top: 15px;
  padding-bottom: 15px;

  display: flex;
  justify-content: center;
}

.footer-container {
  display: flex;
  flex-direction: column;

  .footer-strong-text {
    font-weight: bold;
    font-style: italic;
  }

  .footer-copyright {
    display: flex;
    flex-direction: row;
    font-weight: 300;

    a {
      text-decoration: underline;
      &:hover {
        text-decoration: underline;
      }
    }

    .footer-copyright-text {
    }

    .footer-link-text {
      margin-left: auto;
    }
  }
}

@media only screen and (min-width: 551px) {
  .footer-container {
    width: 85%;
  }
}
