@import '~@angular/material/core/theming/all-theme';
@import '~@angular/material/core/theming/theming';

@include mat-core();

$primary: mat-palette($mat-cyan);
$accent: mat-palette($mat-amber, A200, A100, A400);
$theme: mat-light-theme($primary, $accent);

@import '../app/shared/navbar/navbar-theme';

@include navbar-theme($theme);

