@import '~@angular/material/core/theming/all-theme';
@import '~@angular/material/core/theming/theming';

@include mat-core();

$dark-primary: mat-palette($mat-blue-grey);
$dark-accent:  mat-palette($mat-amber, A200, A100, A400);
$dark-warn:    mat-palette($mat-deep-orange);
$dark-theme: mat-dark-theme($dark-primary, $dark-accent, $dark-warn);
@import '../app/shared/navbar/navbar-theme';
@import '../app/shared/footer/footer-theme';
@include navbar-theme($dark-theme);
@include footer-theme($dark-theme);

