@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,700,400italic');
@import url('https://fonts.googleapis.com/css?family=Ubuntu');

h1 h2 {
  font-size: 21px;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

h3 {
  font-size: 19px;
}

h4 {
  font-size: 18px;
}

h5 {
  font-size: 17px;
}

h6 {
  font-size: 16px;
}

div p span {
  font-size: 15px;
  font-family: 'Roboto', sans-serif;
}

a {
  text-decoration: none;
}

table { }
table tbody th { }
td { }
th {}

pre {
  // Pre elements won't wrap text by default and can exceed the boundaries of their parent element.
  // This adds extra scroll space when visiting the docs mobile. Pre-wrapping the code examples
  // will ensure that the code never exceeds the page width.
  white-space: pre-wrap;
}

code {
  font-size: 90%;
  font-family: 'Ubuntu', sans-serif;
}

* {
  font-family: 'Roboto', sans-serif;
}
